@font-face {
  font-family: "Geometria";
  src: url("../../fonts/Geometria-Regular.eot");
  src: local("Geometria Regular"), local("Geometria-Regular"),
      url("/src/fonts/Geometria-Regular.eot#iefix") format("embedded-opentype"),
      url("/src/fonts/Geometria-Regular.woff") format("woff"),
      url("/src/fonts/Geometria-Regular.woff2") format("woff2"),
      url("/src/fonts/Geometria-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("../../fonts/Geometria-Bold.eot");
  src: local("Geometria Bold"), local("Geometria-Bold"),
      url("/src/fonts/Geometria-Bold.eot#iefix") format("embedded-opentype"),
      url("/src/fonts/Geometria-Bold.woff") format("woff"),
      url("/src/fonts/Geometria-Bold.woff2") format("woff2"),
      url("/src/fonts/Geometria-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: Geometria, Verdana, sans-serif;
}