.social {
  display: flex;
  padding: 0;

  // .social__item

  &__item {
    width: 4.9rem;
    height: 4.9rem;
  }

  // .social__link

  &__link {
    display: block;
  }

  // .social__img

  &__img {
    width: 100%;
    height: 100%;
  }
}