/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  color: inherit; /* 2 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: "Geometria";
  src: url("../../fonts/Geometria-Regular.eot");
  src: local("Geometria Regular"), local("Geometria-Regular"), url("/src/fonts/Geometria-Regular.eot#iefix") format("embedded-opentype"), url("/src/fonts/Geometria-Regular.woff") format("woff"), url("/src/fonts/Geometria-Regular.woff2") format("woff2"), url("/src/fonts/Geometria-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Geometria";
  src: url("../../fonts/Geometria-Bold.eot");
  src: local("Geometria Bold"), local("Geometria-Bold"), url("/src/fonts/Geometria-Bold.eot#iefix") format("embedded-opentype"), url("/src/fonts/Geometria-Bold.woff") format("woff"), url("/src/fonts/Geometria-Bold.woff2") format("woff2"), url("/src/fonts/Geometria-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: Geometria, Verdana, sans-serif;
  color: #6d6e71;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

@font-face {
  font-family: "Geometria";
  src: url("../../fonts/Geometria-Regular.eot");
  src: local("Geometria Regular"), local("Geometria-Regular"), url("/src/fonts/Geometria-Regular.eot#iefix") format("embedded-opentype"), url("/src/fonts/Geometria-Regular.woff") format("woff"), url("/src/fonts/Geometria-Regular.woff2") format("woff2"), url("/src/fonts/Geometria-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Geometria";
  src: url("../../fonts/Geometria-Bold.eot");
  src: local("Geometria Bold"), local("Geometria-Bold"), url("/src/fonts/Geometria-Bold.eot#iefix") format("embedded-opentype"), url("/src/fonts/Geometria-Bold.woff") format("woff"), url("/src/fonts/Geometria-Bold.woff2") format("woff2"), url("/src/fonts/Geometria-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Geometria";
  src: url("../../fonts/Geometria-ExtraBold.eot");
  src: local("Geometria Regular"), local("Geometria-Regular"), url("/src/fonts/Geometria-ExtraBold.eot#iefix") format("embedded-opentype"), url("/src/fonts/Geometria-ExtraBold.woff") format("woff"), url("/src/fonts/Geometria-ExtraBold.woff2") format("woff2"), url("/src/fonts/Geometria-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
h1 {
  font-size: 5.6rem;
  line-height: 154%;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-size: 7rem;
  line-height: 115%;
  font-weight: 800;
  font-style: normal;
}

h3 {
  font-size: 3.3rem;
  line-height: 131%;
  font-weight: 400;
  font-style: normal;
}

h4 {
  font-size: 2rem;
  line-height: 120%;
  font-weight: 700;
  font-style: normal;
}

.logo__img {
  width: 100%;
}

.social {
  display: flex;
  padding: 0;
}
.social__item {
  width: 4.9rem;
  height: 4.9rem;
}
.social__link {
  display: block;
}
.social__img {
  width: 100%;
  height: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  background-color: #2a9142;
  padding: 16px 16px;
  border-radius: 3px;
}

.button:hover {
  background-color: #237e39;
}

.button--dark {
  background-color: #808285;
}

.button--dark:hover {
  background-color: #6d6e71;
}

.first-screen {
  height: 100vh;
  position: relative;
  background: url("/src/image/first-screen/background.jpg") 50%/cover no-repeat;
  overflow: hidden;
}
.first-screen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.first-screen__container {
  position: relative;
  z-index: 1;
  padding: 290px 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.first-screen__container > *:not(:last-child) {
  margin-bottom: 5rem;
}
.first-screen__title {
  margin: 0 auto;
  color: #fff;
  text-align: center;
  max-width: 102.5rem;
  text-transform: uppercase;
}
.first-screen__link {
  position: relative;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  font-size: 2.2rem;
  font-weight: 700;
}
.first-screen__link::after {
  content: "";
  position: absolute;
  bottom: -46px;
  left: 50%;
  width: 40px;
  height: 40px;
  border-top: 7px solid #fff;
  border-right: 7px solid #fff;
  border-bottom: 7px solid transparent;
  border-left: 7px solid transparent;
  transform: translateX(-50%) rotate(135deg);
}

.offers__container {
  padding: 90px 0 128px;
}
.offers__container > *:not(:last-child) {
  margin-bottom: 64px;
}
.offers__title {
  color: #6d6e71;
  text-align: center;
  text-transform: uppercase;
}
.slider {
  margin: 0 auto;
}
.slider__wrapper {
  overflow: hidden;
}
.slider__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -10px;
}
.slider__item {
  flex: 0 0 calc(33.3333333333% - 1px);
  max-width: calc(33.3333333333% - 1px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 20px;
}
.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card__header {
  position: relative;
}
.card__img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 100%;
}
.card__header::before {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 98%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.card .card__header-content {
  position: absolute;
  left: 0;
  bottom: 4px;
  color: white;
  padding: 4px;
}
.card__header-subtitle {
  font-size: 1rem;
}
.card__footer {
  font-size: 1rem;
  color: #6d6e71;
  padding: 4px 4px 8px 4px;
}
.card__footer-price {
  font-size: 1.6rem;
}
.offers__buttons {
  display: flex;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 700;
}
.offers__buttons > *:not(:last-child) {
  margin-right: 80px;
}
.offers__button {
  max-width: 287px;
}

.catalog-icon {
  background-image: url("/src/image/icon/pdf.svg");
  background-size: 30px 35px;
  background-repeat: no-repeat;
  padding: 18px 20px;
}

.mortgage {
  position: relative;
  background: url("/src/image/mortgage/background.jpg") 50%/cover no-repeat;
  overflow: hidden;
}
.mortgage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.mortgage__container {
  position: relative;
  padding: 128px 0 186px;
  z-index: 1;
}
.mortgage__container > *:not(:last-child) {
  margin-bottom: 128px;
}
.mortgage__content {
  display: flex;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
}
.mortgage__title {
  flex: 2;
}
.mortgage__button {
  flex: 1;
  font-weight: 700;
  font-size: 22px;
  line-height: 127%;
}
.banks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.banks__item {
  width: 236px;
  height: 60px;
  margin-bottom: 20px;
}
.banks__link {
  flex: 1;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.banks__link--sber {
  background-image: url("/src/image/icon/sber.svg");
}
.banks__link--vtb {
  background-image: url("/src/image/icon/vtb.svg");
}
.banks__link--alfa {
  background-image: url("/src/image/icon/alfa.svg");
}
.banks__link--domrf {
  background-image: url("/src/image/icon/domrf.svg");
}
.banks__link--rshb {
  background-image: url("/src/image/icon/rshb.svg");
}

.video__container {
  padding: 64px 0 0;
}
.video__title {
  text-align: center;
  text-transform: uppercase;
}
.video__wrapper {
  position: relative;
  padding-bottom: 56.25%;
  margin: 0 auto;
}
.video__content {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.questions__container {
  padding: 64px 0;
}
.questions__content {
  max-width: 725px;
}
.questions__content > *:not(:last-child) {
  margin-bottom: 42px;
}
.questions__title {
  font-weight: 700;
  font-size: 5.6rem;
  line-height: 120%;
}
.questions__subtitle {
  font-weight: 400;
  font-size: 5.6rem;
  line-height: 120%;
}

.form__content > *:not(:last-child) {
  margin-bottom: 42px;
}
.form__input {
  font-size: 2.2rem;
  padding: 16px 0 16px 47px;
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 10%;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.form__input:not(:last-child) {
  margin-right: 28px;
}
.form__input--tel {
  background-image: url("/src/image/icon/tel.svg");
}
.form__input--name {
  background-image: url("/src/image/icon/name.svg");
}
.form__button {
  color: #fff;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  font-size: 21px;
  line-height: 133%;
  text-align: left;
  max-width: 315px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  min-width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 15px 0px;
}
.header .header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.header__contacts > *:not(:last-child) {
  margin-right: 35px;
}
.phone-header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.phone-header__icon {
  background-image: url("/src/image/icon/phone.svg");
  width: 5.6rem;
  height: 5.6rem;
  padding: 0 5px;
}
.phone-header__number {
  font-size: 3rem;
  line-height: 110%;
  font-weight: 800;
  color: #2a9142;
}

.main {
  flex: 1 0 100%;
  background-color: #f6f6f6;
}

.footer {
  background-color: #808285;
  color: #fff;
}
.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 64px 0;
}
.footer__container > *:not(:last-child) {
  margin-right: 123px;
}
.footer__contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.footer__contacts > *:not(:last-child) {
  margin-right: 123px;
}

/*# sourceMappingURL=style.css.map */
