$color-primary: #2a9142;
$color-text: #6d6e71;
$color-text-light: #fff;
$color-background: #f6f6f6;
$color-header: #fff;
$color-footer: #808285;
$color-light: #fff;

$content-width: 1180px;

$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
