.first-screen {
  height: 100vh;
  position: relative;
  background: url("/src/image/first-screen/background.jpg") 50% / cover no-repeat;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  // .first-screen__container

  &__container {
    position: relative;
    z-index: 1;
    padding: 290px 0 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__container > *:not(:last-child) {
    margin-bottom: 5rem;
  }

  // .first-screen__title

  &__title {
    margin: 0 auto;
    color: $color-light;
    text-align: center;
    max-width: 102.5rem;
    text-transform: uppercase;
  }

  // .first-screen__link

  &__link {
    position: relative;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    text-transform: uppercase;
    color: $color-light;
    font-size: 2.2rem;
    font-weight: 700;
  }

  &__link::after {
    content: "";
    position: absolute;
    bottom: -46px;
    left: 50%;
    width: 40px;
    height: 40px;
    border-top: 7px solid #fff;
    border-right: 7px solid #fff;
    border-bottom: 7px solid transparent;
    border-left: 7px solid transparent;
    transform: translateX(-50%) rotate(135deg);
  }

}
