.questions {
  // .questions__container

  &__container {
    padding: 64px 0;
  }

  // .questions__content

  &__content {
    max-width: 725px;
  }

  &__content > *:not(:last-child) {
    margin-bottom: 42px;
  }

  // .questions__title

  &__title {
    font-weight: 700;
    font-size: 5.6rem;
    line-height: 120%;
  }

  // .questions__subtitle

  &__subtitle {
    font-weight: 400;
    font-size: 5.6rem;
    line-height: 120%;
  }

  @media (max-width: $tablet-width) {
    &__title {
      font-size: 3.6rem;
    }

    &__subtitle {
      font-size: 3.6rem;
    }

    &__content {
      max-width: 465px;
    }
    
  }

  @media (max-width: 460px) {
    &__title {
      font-size: 2.6rem;
    }

    &__subtitle {
      font-size: 2.6rem;
    }

    &__content {
      max-width: 315px;
    }

    &__content > *:not(:last-child) {
      margin-bottom: 18px;
    }
    
  }
}

.form {
  &__content > *:not(:last-child) {
    margin-bottom: 42px;
  }

  // .form__input

  &__input {
    font-size: 2.2rem;
    padding: 16px 0 16px 47px;
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 10%;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  &__input:not(:last-child) {
    margin-right: 28px;
  }

  // .form__input--tel

  &__input--tel {
    background-image: url("src/image/icon/tel.svg");
  }

  // .form__input--name

  &__input--name {
    background-image: url("src/image/icon/name.svg");
  }

  // .form__button

  &__button {
    color: $color-light;
    text-transform: uppercase;
    border: none;
    font-weight: 700;
    font-size: 2.1rem;
    line-height: 133%;
    text-align: left;
    max-width: 315px;
  }

  @media (max-width: 460px) {
    &__input {
      font-size: 1.6rem;
    }

    &__input:not(:last-child) {
      margin-bottom: 18px;
    }

    &__button {
      font-size: 1.6rem;
      max-width: 242px;
    }
  }
}
