.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  min-width: 100%;
  background-color: $color-header;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  padding: 15px 0px;


  // .header__container

  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__contacts

  &__contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__contacts > *:not(:last-child) {
    margin-right: 35px;
  }

  // .header__phone

  &__phone {
    
  }
}

.phone-header {
  
  // .phone-header__link

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  // .phone-header__icon

  &__icon {
    background-image: url("/src/image/icon/phone.svg");
    width: 5.6rem;
    height: 5.6rem;
    padding: 0 5px;
  }

  // .phone-header__number

  &__number {
    font-size: 3rem;
    line-height: 110%;
    font-weight: 800;
    color: $color-primary
  }
}
