.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  min-width: 100%;
  background-color: $color-header;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  padding: 15px 0px;


  // .header__container

  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__logo

  &__logo{
    margin-right: 20px;
  }

  // .header__contacts

  &__contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__contacts > *:not(:last-child) {
    margin-right: 35px;
  }

  @media (max-width: $laptop-width) {
    &__contacts {
      flex-direction: column;
      align-items: flex-end;
    }

    &__contacts > *:not(:last-child) {
      margin-right: 0;
    }
  }

  
    // .header__social

    &__social {
      
    }
  


  // .header__phone

  &__phone {
    
  }

  @media (max-width: $tablet-width) {
    &__social {
      margin-bottom: 20px;
    }
  }

  @media (max-width: $mobile-big-width) {
    &__social {
      margin-bottom: 10px;
    }

    .header__container {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  
    // .header__logo
  
    &__logo{
      margin-right: 0;
      margin-bottom: 10px;
    }

    &__contacts {
      align-items: flex-start;
    }

  }
}

.phone-header {
  
  // .phone-header__link

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .phone-header__icon

  &__icon {
    background-image: url("src/image/icon/phone.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 5.6rem;
    height: 5.6rem;
    padding: 0 5px;
  }

  // .phone-header__number

  &__number {
    font-size: 3rem;
    line-height: 110%;
    font-weight: 800;
    color: $color-primary;
    white-space: nowrap;
  }

  @media (max-width: $tablet-width) {
    &__number {
      font-size: 2rem;
    }

    &__icon {
      width: 2.6rem;
      height: 2.6rem;
    }
  }
  
}